<ng-template #contentTemplate>
    <app-site-wrapper>
        <section class="pa3 pa5-ns bb b--black-10">
            <h1 class="f1 f-5-l fw5 tc"><a class="link color-inherit" routerLink="/{{contentItem.id}}">{{contentItem.title}}</a></h1>
            <div class="mv3 mv4-l f3-l tc">
                <time class="ttu tracked gray">{{contentItem.publishedDate}}</time>
            </div>

            <div class="f5 center lh-copy mw6 mw7-l mv5" [innerHTML]="contentItem.content | MarkdownToHtml"></div>
            
            <div *ngIf="contentItem.displayType === 'video'">videos</div>
            <div *ngIf="contentItem.displayType === 'imageSet'">
                <div class="db overflow-hidden mv5" *ngFor="let image of contentItem.properties.images">
                    <img class="w-100 f5" [src]="image.url" />
                </div>
            </div>
        </section>
    </app-site-wrapper>
</ng-template>
<ng-template #notFoundTemplate>
    <section class="vh-100 bg-white roboto-slab">
        <header class="tc ph5 lh-copy">
            <h1 class="f1 f-headline-l code mb3 fw9 dib tracked-tight mid-gray">404</h1>
            <h2 class="tc f1-l fw1">Sorry, we can't find the page you are looking for.</h2>
        </header>
        <p class="fw1 i tc mt4 mt5-l f4 f3-l">Are you looking for one of these?</p>
        <ul class="list tc pl0 w-100 mt5">
            <li class="dib"><a class="f5 f4-ns link black db pv2 ph3 hover-light-purple" routerLink="/">Home</a></li>
            <li class="dib"><a class="f5 f4-ns link black db pv2 ph3 hover-light-purple" routerLink="/bio">Bio / Contact</a></li>
            <li class="dib"><a class="f5 f4-ns link black db pv2 ph3 hover-light-purple" routerLink="/resume">Resume</a></li>
        </ul>
    </section>

</ng-template>

<div *ngIf="contentItem; then contentTemplate; else notFoundTemplate"></div>
